.card-container {
  max-width: 30vw;
  margin: 7vw auto;
  padding: 2rem;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid gray;
}

.divider {
  margin: 1.5rem 0;
  font-size: 14px;
  color: #888;
}
