html.theme-light {
  --bg: #e91010;
  --text: #000000;
  --card-bg: #d5ec04;
  --shadow: 0 6px 18px rgba(0, 0, 0, 0.1);

  --input-bg: #ffffff;
  --input-text: #000000;
  --input-border: #cccccc;

  --accent: #1976d2;
  --accent-contrast: #ffffff;

  --switch-track: #aab4be;
  --switch-thumb: #1976d2;
  --switch-thumb-checked: #1976d2;
  --switch-icon-color: #1976d2;
}

html.theme-light, html.theme-light body, html.theme-light #root {
  background-color: var(--bg) !important;
  color: var(--text);
}
