/* ====== LOGO ====== */
.logo-img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  transform: scale(1.20);
}

/* ====== LAYOUT PAGINA AUTENTICAZIONE ====== */
.auth-page {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-Image: var(--backgroundImage);
}

.auth-page-signup {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-Image: var(--backgroundImage);
}

/* ====== CARD AUTENTICAZIONE ====== */
.auth-card {
  width: min(90vw, 420px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;

  /* Colori presi dal tema */
  background-color: var(--card-bg) !important;
  box-shadow: var(--shadow);
  color: var(--text);

}

.auth-card-signup {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;

  /* Colori presi dal tema */
  background-color: var(--card-bg) !important;
  box-shadow: var(--shadow);
  color: var(--text);

}

/* ====== ELEMENTI INTERNI ====== */
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.logo-container-signup {
  display: flex;
  justify-content: center;
  margin-bottom: -0.5rem;
}

.auth-title {
  text-align: center;
  font-size: clamp(1.25rem, 8vw, 1.7rem);
}

.signup-title {
  text-align: center;
  font-size: clamp(1.25rem, 8vw, 1.7rem);
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.signup-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.85rem;
  width: 100%;
}

.grid-role {
  margin-top: -3px;
  flex-grow: 1;
}

.color-switch {
  position: absolute;
  top: 0.75rem;
  right: 0.80rem;
}

.reg-button {
  margin-top: 0rem;
}

.signup-button {
  display: block;
}
