/* -- LOGO -- */
.logo-img {
  width: 160px;
  height: 160px;
  display: block;
  margin: 0 auto;
  object-fit: contain;
  transform: scale(1.20);
}

/* -- LAYOUT PAGINA DI AUTENTICAZIONE -- */
.auth-page {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: var(--backgroundImage);
}

/* -- CARTA DI AUTENTICAZIONE -- */
.auth-card {
  width: min(90vw, 420px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;

  /* -- COLORI PRESI DAL TEMA -- */
  background-color: var(--card-bg) !important;
  box-shadow: var(--shadow);
  color: var(--text);

}

/* -- ELEMENTI INTERNI -- */
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0.2rem;
}

.auth-title {
  text-align: center;
  font-size: clamp(1.25rem, 8vw, 1.7rem);
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;

}

.signup-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.85rem;
}

.grid-role {
  margin-top: -3px;
  flex-grow: 1;
  margin-right: 11px;
}

.color-switch {
  position: absolute;
  top: 0.75rem;
  right: 0.80rem;
}

.signup-button {
  display: block;
  width: 90%;
}

.grid-marginfix {
  margin-top: -3px;
}

/* -- MODIFICATORI -- */
.auth-card--wide {
  min-width: 500px;
}

.logo-container--tight {
  margin-bottom: -0.5rem;
  
}
